<form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="email">אימייל</label>
      <input id="email" formControlName="email" type="email" placeholder="כתובת אימייל" />
      <div *ngIf="forgotPasswordForm.get('email')?.invalid && (forgotPasswordForm.get('email')?.touched || forgotPasswordForm.get('email')?.dirty)">
        <p class="myinvalid" *ngIf="forgotPasswordForm.get('email')?.hasError('required')">שדה חובה</p>
        <p class="myinvalid" *ngIf="forgotPasswordForm.get('email')?.hasError('email')">כתובת אימייל לא חוקית</p>
      </div>
    </div>
  
    <div>
      <label for="password">סיסמה</label>
      <input id="password" formControlName="password" type="password" placeholder="סיסמה חדשה" />
      <div *ngIf="forgotPasswordForm.get('password')?.invalid && (forgotPasswordForm.get('password')?.touched || forgotPasswordForm.get('password')?.dirty)">
        <p class="myinvalid" *ngIf="forgotPasswordForm.get('password')?.hasError('required')">שדה חובה</p>
        <p class="myinvalid" *ngIf="forgotPasswordForm.get('password')?.hasError('minlength')">על הסיסמה להיות לפחות באורך 8 תווים</p>
      </div>
    </div>
  
    <button type="submit" [disabled]="forgotPasswordForm.invalid">שלח</button>
  </form>
<!-- <div class="forgot-password-container">
  <h2>שכחת סיסמה?</h2>
  <form *ngIf="!isCodeSent" (ngSubmit)="sendEmail()" [formGroup]="emailForm">
    <label for="email">כתובת אימייל</label>
    <input id="email" type="email" placeholder="הכנס כתובת אימייל" formControlName="email" />
    <div *ngIf="email.invalid && (email.touched || email.dirty)">
      <p class="myinvalid" *ngIf="email.hasError('required')">שדה חובה</p>
      <p class="myinvalid" *ngIf="email.hasError('email')">כתובת אימייל לא חוקית</p>
    </div>
    <button type="submit" [disabled]="emailForm.invalid">שלח קוד</button>
  </form>

  <form *ngIf="isCodeSent && !isPasswordReset" (ngSubmit)="verifyCode()" [formGroup]="codeForm">
    <label for="code">קוד אימות</label>
    <input id="code" type="text" placeholder="הכנס קוד אימות" formControlName="code" />
    <button type="submit" [disabled]="codeForm.invalid">אמת קוד</button>
  </form>

  <form *ngIf="isPasswordReset" (ngSubmit)="resetPassword()" [formGroup]="passwordForm">
    <label for="password">סיסמה חדשה</label>
    <input id="password" type="password" placeholder="הכנס סיסמה חדשה" formControlName="password" />
    <div *ngIf="password.invalid && (password.touched || password.dirty)">
      <p class="myinvalid" *ngIf="password.hasError('required')">שדה חובה</p>
      <p class="myinvalid" *ngIf="password.hasError('minlength')">על הסיסמה להיות לפחות באורך 8 תווים</p>
    </div>
    <button type="submit" [disabled]="passwordForm.invalid">אפס סיסמה</button>
  </form>
</div>
 -->